{% extends 'base.html.twig' %}

{% block title %}Add dishes
{% endblock %}

{% block body %}
	<div
		class="fluid-container">
		<!-- ======= About Section ======= -->
		<section id="about" class="about">
			<div class="container-fluid">

				<div class="row text-center">
					<div class="col-lg-6 align-items-stretch video-box" style='background-image: url("assets/img/about.jpg");'>
						<h1>Add new</h1>
						<form action="crear" method="POST" class="text-center">
							<div class="form-group">
								<label for="txtName">New title</label>
								<input type="text" class="form-control" id="txtName" name="txtName">
							</div>
							<div class="form-group">
								<label for="txtDesc">New description</label>
								<input type="text" class="form-control" id="txtDesc" name="txtDesc">
							</div>
							<div class="form-group">
								<label for="txtPic">New picture</label>
								<input type="text" class="form-control" id="txtPic" name="txtPic">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>

				</div>

			</div>
		</section>
		<!-- End About Section -->
	</div>

{% endblock %}
